<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4>Do your research</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
          <div class="input-group-prepend" ngbDropdown [placement]="'bottom-left'">
              <button class="btn btn-primary" ngbDropdownToggle type="button">Search by</button>
              <div ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:">Full Text</a>
                <a class="dropdown-item" href="javascript:">Keywords</a>
                <a class="dropdown-item" href="javascript:">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:">Separated link</a>
              </div>
            </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
      </div>
    </div>
  </div>
</div>