.tree-element-has-children[_ngcontent-nit-c128] > .tree-element-main[_ngcontent-nit-c128] .toggler[_ngcontent-nit-c128] {
  z-index: 10000 !important;
}
.card-link-doc {
  color: #0275d8;
  cursor: pointer;
}
.modal-header-tree{
  background-color: #FAFCFF;
}
